/*BLACK-navbar*/

.navbar-btn,
.navbar-btn:active,
.navbar-btn:focus {
     background: #1a1a1a;
     border-color: #2f3034 #2f3034 #232427;
     background-image: -webkit-linear-gradient(top, #060606, #47494f 66%, #060606);
     background-image: -moz-linear-gradient(top, #060606, #47494f 66%, #060606);
     background-image: -o-linear-gradient(top, #060606, #47494f 66%, #060606);
     background-image: linear-gradient(to bottom, #060606, #47494f 66%, #060606);
     text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
     border: 1px solid;
     border-radius: 7px;
     cursor: pointer;
     -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
     box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
}

button a {
     color: #fff;
}

.navbar-btn:hover {
     border-color: #8f0214;
}

button a:hover {
     color: #fff;
     text-decoration: none;
}

/*RED-releases*/

.btn.btn-red,
.btn.btn-red:active,
.btn.btn-red:focus {
     background: #CFD8DC;
     border-color: #2f3034 #2f3034 #232427;
     background-image: -webkit-linear-gradient(top, #ff6478, #47494f 66%, #ff6478);
     background-image: -moz-linear-gradient(top, #ff64786, #47494f 66%, #ff6478);
     background-image: -o-linear-gradient(top, #ff6478, #47494f 66%, #ff6478);
     background-image: linear-gradient(to bottom, #ff6478, #8f0214 66%, #ff6478);
     text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
     border: 1px solid;
     border-radius: 7px;
     cursor: pointer;
     -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
     box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
}

.caption a,
.cta-container button {
     color: #fff;
}

.btn:hover {
     border-color: #8f0214;
}

.caption a:hover,
.cta-container button:hover {
     color: #fff;
     text-decoration: none;
}


/*RED-CTA*/

.btn.btn-red-custom,
.btn.btn-red-custom:active,
.btn.btn-red-custom:focus {
     background: #CFD8DC;
     border-color: #2f3034 #2f3034 #232427;
     background-image: -webkit-linear-gradient(top, #ff6478, #47494f 66%, #ff6478);
     background-image: -moz-linear-gradient(top, #ff64786, #47494f 66%, #ff6478);
     background-image: -o-linear-gradient(top, #ff6478, #47494f 66%, #ff6478);
     background-image: linear-gradient(to bottom, #ff6478, #8f0214 66%, #ff6478);
     text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
     border: 1px solid;
     border-radius: 10px;
     cursor: pointer;
     -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
     box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
}

