.navbar {
     background-color: #000;
     border: transparent;
     width: 100%;
     height: 70px;
     margin-bottom: 0;
     border: 0;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
     border-color: transparent;
     background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
     background-color: #fff;
     height: 2px;
}

.navbar-default .navbar-toggle:hover>.icon-bar,
.navbar-default .navbar-toggle:active>.icon-bar {
     background-color: #8f0214;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus {
     color: #fff;
     font-weight: 700;
     background-color: transparent;
     display: block;
     transition: color .2s ease-in-out, font-weight .2s ease-in-out;
}

.navbar-nav li.selected a,
.navbar-default .navbar-nav a:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active {
     color: #8f0214;
     font-weight: 900;
}


/*-------------------------------------------Media Queries*/

@media (max-width: 767px) {
     .navbar {
     z-index: 3;
     }
     .navbar-collapse {
          background-color: #000;
          opacity: 0.6;
          width: 150px;
          box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.75);
          z-index: 2;
          border-color: transparent;
          border: 0;
     }
}

@media (min-width: 768px) {
     .navbar {
          width: 100%;
          text-align: center;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 5;
     }
     #logo {
          position: fixed;
     }
     .navbar-nav {
          margin-left: 22%;
     }
     .navbar-nav li {
          padding-left: 1vw;
          opacity: 0.95;
     }
     .btn.btn-default.navbar-btn {
          float: right;
     }
}

@media (min-width: 992px) {
     .navbar {
          font-size: 1.2em;
     }
     .navbar-nav li a {
          width: 10vw;
     }
}