html,
body {
     font-family: "Exo 2", sans-serif;
     background-color: #CFD8DC;
}

/*-------------------------------------------Header*/

#logo,
.logo-footer {
     position: absolute;
     margin: 10px 20px;
     transition: filter .2s ease-in-out;
     z-index: 99;
}

#logo img,
.logo-footer img {
     height: 50px;
}

#logo:hover,
#logo:active,
.logo-footer:hover,
.logo-footer:active {
     filter: grayscale(10%) brightness(15%) sepia(10%) hue-rotate(-30deg) saturate(10000%) contrast(1);
}

.form-group {
     margin-left: 5px;
}

.form-group input {
     margin-right: 10px;
     margin-left: 3px;
}

.navbar .container-fluid {
     margin-top: 10px;
}

/*-------------------------------------------Main-HomePage*/

.main-home-container {
     clear: both;
     background: url("images/main-image-xs.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     height: 80vh;
     padding: 0;
}

.opaque-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 80vh;
     margin-top: -70px;
     background-color: rgba(0, 0, 0, 0.7);
     z-index: 2;
}

.cta-container {
     display: flex;
     margin-top: 70px;
     position: relative;
     height: 70vh;
     width: 100vw;
     align-items: flex-end;
     justify-content: center;
}

.cta-container p,
.cta-container input {
     margin-bottom: 10px;
     opacity: 0.95;
     z-index: 3;
}

.cta-container p {
     font-size: 1.3em;
     color: #fff;
}

.cta-container input[type="email"] {
     border-radius: 10px;
     min-width: 300px;
     margin-left: 1vw;
}

.cta-container input[type="submit"] {
     border-radius: 10px;
     margin-left: -86px;
     background-image: linear-gradient(to bottom, #ff6478, #8f0214 66%, #ff6478);
     color: #fff;
}

.cta-container input[type="submit"]:hover {
     border-color: #8f0214;
}

/*-------------------------------------------Section-HomePage*/

.container-fluid .jumbotron {
     padding-top: 3vh;
     padding-bottom: 3vh;
     margin-bottom: 0;
     color: inherit;
     background-color: #eee;
     border-radius: 0;
}

.jumbotron p {
     margin-bottom: 0;
     font-weight: 700;
}

.homepage-left-section {
     padding: 0;
}

.section-home-container h2,
.section-home-container h3,
.section-home-container h4 {
     padding-top: 1vh;
}

.projects-homepage h3 {
     color: #8f0214;
     font-weight: 600;
     padding-top: 3vh;
}

.section-home-container h4 {
     padding-bottom: 15px;
}

.projects-homepage hr {
     width: 50px;
     border-top-color: #333;
     opacity: 0.5;
}

.projects-homepage p {
     text-align: justify;
}

.next-event,
.latest-mix,
.latest-releases {
     text-align: center;
}

.boxes-releases {
     display: inline-block;
     max-width: 45%;
     margin-bottom: 4vh;
}

.img-circle {
     width: 60%;
     margin: 0 5% 0 5%;
}

.back-to-top {
     text-align: center;
     margin-bottom: 20px;
}

.back-to-top a {
     color: #fff;
}

.back-to-top a:hover {
     color: #fff;
}

/*-------------------------------------------Footer*/

.footer {
     background-color: #000;
     height: 70px;
     width: 100%;
     padding: 0;
     position: relative;
}

.signature {
     display: inline-block;
     width: 100%;
     text-align: center;
     color: #fff;
     opacity: 0.3;
     margin-top: 25px;
}

.footer .btn-black {
     position: absolute;
     right: 30px;
     bottom: 15px;
}

/*-------------------------------------------Media Queries*/

@media (max-width: 494px) {
     .boxes-releases {
          min-width: 80%;
          max-width: 90%;
     }
     .img-circle {
          width: 70%;
     }
}

@media (min-width: 768px) {
     .main-home-container {
          background: url("images/main-image.jpg") no-repeat center center fixed;
          ;
     }
     .cta-container p,
     .cta-container input {
          margin-bottom: 1vh;
     }
}

@media (max-width: 840px) {
     .cta-container p {
          margin-left: 9px;
     }
     .cta-container input {
          margin-right: 9px;
     }
}

@media (min-width: 992px) {
     .container-fluid .jumbotron {
          padding-left: 0px;
          padding-right: 0px;
     }
     .cta-container input[type="email"] {
          min-width: 350px;
          margin-left: 2vw;
     }
     .homepage-right-section {
          padding-left: 0;
          padding-right: 30px;
     }
}

@media (min-width: 1200px) {
     .container-fluid .jumbotron {
          padding-left: 0px;
          padding-right: 0px;
     }
     .section-home-container h2 {
          margin-bottom: 30px;
     }
     .boxes-releases {
          max-width: 30%;
          margin-bottom: 4vh;
     }
}

@media (min-width: 1665px) {
     .img-circle {
          width: 95%;
     }
     .boxes-releases {
          max-width: 30%;
          margin-left: 5%;
          margin-right: 5%;
     }
}

@media (min-width: 2569px) {
     .boxes-releases {
          max-width: 30%;
          margin-left: 7%;
          margin-right: 7%;
     }
}

/*-------------------------------------------Colors

grey: #CFD8DC;
red: #8f0214;




---------------------------------